# Database
DATABASE_URL="postgresql://user:password@db:5432/vespapart_ecommerce?schema=public"

# JWT
JWT_SECRET="your-jwt-secret"
JWT_EXPIRES_IN="7d"

# Redis
REDIS_HOST="redis"
REDIS_PORT=6379
REDIS_PASSWORD="password"

# URL Aplikasi Frontend yang Diizinkan
FRONTEND_URL=http://localhost:3000
ADMIN_URL=http://localhost:3003

# XENDIT CONFIGURATION
XENDIT_API_KEY="xnd_development_xxxxxxxxxxxxxxxxxxxxxxxxxxx"
XENDIT_WEBHOOK_TOKEN="your-webhook-verification-token"

CLOUDINARY_CLOUD_NAME=nama_cloud_anda
CLOUDINARY_API_KEY=kunci_api_anda
CLOUDINARY_API_SECRET=kunci_rahasia_anda

RAJAONGKIR_API_KEY=kunci_api_rajaongkir_anda